.board {
  height: 80vw;
  width: 80vw;
  max-width: 400px;
  background-color: burlywood;
  border-radius: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .board {
    height: 50vw;
    max-height: 500px;
    width: 50vw;
    max-width: 500px;
  }
}
